//- articles.xml

doctype xml
- var updated = new Date().toISOString();

mixin entry(title, id, pubished, updated, summary, term, label)
  entry
    title= title
    id= id
    link(rel="alternate" type='text/html' href=id)/
    published= pubished + '+07:00'
    updated= updated + '+07:00'
    summary(type='html')= summary
    category(term=term label=label)/

feed(xmlns='http://www.w3.org/2005/Atom')
  title jasmine&apos;s b(rain)log | jasm1nii.xyz
  subtitle blog articles by jasmine
  id https://jasm1nii.xyz/blog/articles/
  link(rel='self' href='https://jasm1nii.xyz/blog/articles/articles.xml' type='application/atom+xml')/
  link(rel='alternate' href='https://jasm1nii.xyz/blog/articles' type='text/html')/
  updated #{updated}
  author
    name jasmine
    email contact@jasm1nii.xyz
    uri https://jasm1nii.xyz/
  icon https://jasm1nii.xyz/assets/media/itchio-textless-white.svg
  logo https://jasm1nii.xyz/assets/media/main/07042023-me_compressed.webp

  //- +entry('test title', 'test id', 'test pub date', 'test update', '<a>test summary</a>', 'test term', 'test label')

  entry
    title tummy treats
    id https://jasm1nii.xyz/blog/articles/2023/9/26/entry
    link(rel='alternate' href='https://jasm1nii.xyz/blog/articles/2023/9/26/entry' type='text/html')/
    published 2023-09-26T18:34:00+07:00
    updated 2023-09-26T18:39:00+07:00
    category(term='food' label='Food')/
    summary(type='html') a short food post!
  entry
    title bye neocities (part 2)
    id https://jasm1nii.xyz/blog/articles/2023/8/17/entry
    link(rel='alternate' href='https://jasm1nii.xyz/blog/articles/2023/8/17/entry' type='text/html')/
    published 2023-08-17T00:00:00+07:00
    updated 2023-08-18T00:00:00+07:00
    category(term='webmastery' label='Webmastery')/
    summary(type='html') update - well, that didn&apos;t last long!
  entry
    title bye neocities
    id https://jasm1nii.xyz/blog/articles/2023/8/12/entry
    link(rel='alternate' href='https://jasm1nii.xyz/blog/articles/2023/8/17/entry' type='text/html')/
    published 2023-08-12T00:00:00+07:00
    updated 2023-08-12T00:00:00+07:00
    category(term='webmastery' label='Webmastery')/
    summary(type='html') it was a good one month, i guess.
  entry
    title parroting a broken record held together by elmer&apos;s glue
    id https://jasm1nii.xyz/blog/articles/2023/8/09/entry
    link(rel='alternate' href='https://jasm1nii.xyz/blog/articles/2023/8/17/entry' type='text/html')/
    published 2023-08-09T00:00:00+07:00
    updated 2023-08-09T00:00:00+07:00
    category(term='webmastery' label='Webmastery')/
    category(term='personal' label='Personal')/
    summary(type='html') getting started with my first blog post &#x1F423;