<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <?php include_once dirname(__DIR__,3).'/resources/includes/head.shtml'; ?>
        <title>{{ title }} | jasmine's resources</title>
        <link href="/_assets/stylesheets/content_A3.css" rel="stylesheet" type="text/css" media="all"/>
        <meta name="description" content="a catalogue of helpful things for web design, art, and more!"/>
    </head>
    <body>
        <header>
            <hgroup>
                <h1>{{ title }}</h1>
                <p>
                    last updated: <time datetime="{{ updated|date() }}">{{ updated|format_date(pattern="d MMMM Y")|lower }}</time>
                </p>
            </hgroup>
            <nav>
                <a href="/resources/{{ category_url }}">⟵ back to {{ category }}</a>
            </nav>
        </header>
        <article>
            {% apply markdown_to_html %}
                {{ content }}
            {% endapply %}
        </article>
        <footer>
            <nav>
                <a href="index.html">⟵ back to {{ category }}</a>
            </nav>
        </footer>
        <script src="/_assets/scripts/theme-switcher-v2.js"></script>
    </body>
</html>