<nav class="page-nav">
	<ul>
		<li class="previous">
			{% if page != 1 %}
				<a href="{{ paginator_url }}/{{ page - 1 }}" title="previous page">⮜</a>
			{% else %}
				<span aria-hidden="true">
					{{ previous_placeholder ? previous_placeholder : '🌸' }}
				</span>
			{% endif %}
		</li>
		<li>
			{{ page }} of {{ total_pages + 1 }}
		</li>
		<li class="next">
			{% if page != total_pages + 1 %}
				<a href="{{ paginator_url }}/{{ page + 1 }}" title="next page">⮞</a>
			{% else %}
				<span aria-hidden="true">
					{{ next_placeholder ? next_placeholder : '💮' }}
				</span>
			{% endif %}
		</li>
	</ul>
</nav>
