<section class="card web-rings">
    <h2 id="web-rings"><span aria-hidden="true">🕸</span> web rings & listings</h2>
    <details>
      <summary>what's a web ring?</summary>
      <p>
        <a href="https://en.wikipedia.org/wiki/Webring" rel="external"><dfn>web rings</dfn></a> (or webrings) are groups
        of interconnected websites - each with a specific theme - that links its members together in an endless loop.
        click the navigational arrows to go to the next site! <small>&hellip; and the next one! <small>&hellip; and the next one after that! <small>&hellip; it just keeps going!</small></small></small>
      </p>
    </details>
    <section class="web-rings-list">
      <section class="pending">
        <h3 id="pending-web-rings">pending</h3>

        <p>
          <span>
            <a href="https://loop.graycot.dev/webring.html?action=prev" aria-label="loop ring: previous site" rel="external">←</a>
            <a href="https://loop.graycot.dev/webring.html?action=home" rel="external">loop ring</a>
            <a href="https://loop.graycot.dev/webring.html?action=next" aria-label="loop ring: next site" rel="external">→</a>
          </span>
          <br/>
          <span>
            <small>
              <a href="https://loop.graycot.dev/webring.html?action=rand" rel="external" aria-label="loop ring: random site">random</a> <span aria-hidden="true">|</span> <a href="https://loop.graycot.dev/webring.html?action=list" rel="external" aria-label="loop ring: member list">member list</a>
            </small>
          </span>
        </p>
      </section>

      <section class="joined">
        <h3 id="joined-web-rings">joined</h3>

        <p id="resourceRing"></p>

        <p>
          <a href="https://indieseek.xyz/" rel="external"><img src="{{ src }}/indieseek.gif" alt="indieseek.xyz directory" width="88" height="31" loading="lazy"/></a>
        </p>

        <p>
          <a href="https://pinkvampyr.leprd.space/accessiblenet/" rel="external"><img src="{{ src }}/accessiblenet88x31.png" alt="accessible net directory" width="88" height="31" loading="lazy"/></a>
        </p>

        <p>
          <a href="https://xn--sr8hvo.ws/previous" rel="external" aria-label="indieweb ring: previous site">←</a> <a href="https://xn--sr8hvo.ws" rel="external">indieweb ring</a> <a href="https://xn--sr8hvo.ws/next" rel="external" aria-label="indieweb ring: next site">→</a>
        </p>

        <p>
          <a href="https://pastels.minty.nu/" rel="external"><img src="{{ src }}/100x50-mallows.gif" width="100" height="50" alt="pastel colours fanlisting" loading="lazy" /></a>
        </p>

        <ring-900 site="https://jasm1nii.xyz/"></ring-900>
        
        <p>
          <a href="https://fediring.net/previous?host=jasm1nii.xyz" rel="external" aria-label="fediring: previous site">←</a> <a href="https://fediring.net/" rel="external">fediring</a> <a href="https://fediring.net/next?host=jasm1nii.xyz" rel="external" aria-label="fediring: next site">→</a>
          <br/>
          <small><a href="https://fediring.net/random" rel="external" aria-label="fediring: random site">random</a></small>
        </p>

        <p>
          <a href="https://macaque.moe/trickyfox/" rel="external" aria-label="linked clique">LINKED!</a> <img src="{{ src }}/linked.png" width="20" height="20" alt="" loading="lazy"/> blaze the cat
        </p>

        <p>
          <img src="{{ src }}/angelic-left.png" width="20" height="20" alt="" loading="lazy" /><span class="string">i am<a href="https://macaque.moe/trickyfox/" rel="external">angelic <span aria-hidden="true">♥</span></a></span> <img src="{{ src }}/angelic-right.png" width="20"  height="20" alt="" loading="lazy" />
        </p>

        <p>
          <a href="https://kalechips.net/responsive/index" rel="external"><img src="{{ src }}/responsive-website-directory.png" width="88" height="31" alt="responsive website directory" loading="lazy"/></a>
        </p>

        <p>
          <a href="https://smoothsailing.asclaria.org/" rel="external"><img src="{{ src }}/smooth-sailing.png" width="88" height="31" alt="smooth sailing listings" loading="lazy"/></a>
        </p>

        <p>
          <a href="https://strawberry-gashes.neocities.org" rel="external"><img src="/_assets/media/main/healing-hospital-left.png" width="40" height="40" alt="healing hospital webring: previous site" loading="lazy"/></a>
          <a href="https://mizuki.world/healinghospital" rel="external"><img src="/_assets/media/main/healing-hospital.png" width="80" height="40" alt="healing hospital webring: index" loading="lazy"/></a>
          <a href="https://tsuinosora.neocities.org/" rel="external"><img src="/_assets/media/main/healing-hospital-right.png" width="40" height="40" alt="healing hospital webing: next site" loading="lazy"/></a>
        </p>

        <p>
          <a href='https://zombiigutz.neocities.org/' rel="external"><img src="{{ src }}/autiring-left.png" width="32" height="15" alt="autists online webring: previous site" loading="lazy"/></a>
          <a href="https://macaque.moe/autiring/index.html" rel="external"><img src="{{ src }}/autiring.png" width="96" height="15" alt="autists online webring: index" loading="lazy"/></a>
          <a href='https://jubiland.neocities.org/' rel="external" title="next site"><img src="{{ src }}/autiring-right.png" width="32" height="15" alt="autists online webring: next site" loading="lazy"/></a>
        </p>
        
        <p>
          <a href="http://pkmn.caelestis.nu" rel="external noopener noreferrer" title="I Choose You!"><img src="{{ src }}/piplup.png" alt="piplup" width="56" height="42" loading="lazy"/></a>
        </p>

        <p>
          <a href="https://melanated.neocities.org/" rel="external"><img src="{{ src }}/melanated.png" width="80" height="15" alt="melanated: POC webmaster listing" loading="lazy" /></a>
        </p>

        <p id="vocaring">
          <span class="title">VOCALOID WEBRING</span>
          <br/>
          <span>
            <a href='https://webring.adilene.net/' rel="external">index</a> <span aria-hidden="true">|</span> <a href='https://webring.adilene.net/members.php' rel="external">members</a>
          </span>
          <br/>
          <img src='{{ src }}/vocaloid.png' width="100" height="100" alt="" loading="lazy"/>
        </p>

        <p>
          <a href="https://hotlinewebring.club/jasm1nii/previous" rel="external" aria-label="hotline webring: previous site">←</a> <a href="https://hotlinewebring.club/" rel="external">hotline<br/>webring</a> <a href="https://hotlinewebring.club/jasm1nii/next" rel="external" aria-label="hotline webring: next site">→</a>
        </p>
      </section>
    </section>
</section>