<!DOCTYPE html>
<html lang="en-US">
	<head>
		{{ include('@includes/head.shtml') }}
		<title>change log | jasmine's journal</title>
		<meta name="description" content="updates to the website"/>
		<link id="base-theme" href="/_assets/stylesheets/changelog.css" rel="stylesheet" type="text/css" media="all"/>
		<noscript>
			<link href="/_assets/stylesheets/changelog_noscript.css" rel="stylesheet" type="text/css" media="all"/>
		</noscript>
	</head>
	<body>
		<div class="layout">
			<div>
				<header>
					<hgroup>
						<h1>change log</h1>
						<p class="subtitle">jasmine's journal</p>
						<p class="site-update">
							last updated
							<time datetime="{{ updated|date() }}">
								{{ updated|format_date(pattern="d MMMM Y")|lower }}
							</time>
						</p>
					</hgroup>
					<nav>
						{{ nav|raw }}
					</nav>
				</header>
			</div>
			<div>
				<main>
					<article>
						<section>
							<h2 id="archive"><span aria-hidden="true">🔨</span> archive</h2>
							<nav class="archive-nav">
								<ul>
								{% for key, subarray in array %}
									<li>{{ key }}
										<ul>
											{% for value in subarray %}
												{% set path_to_month = value|trim(key,'left') %}
												{% set month_int = path_to_month|trim("/") %}
												{% set month = "#{key}-#{month_int}" %}
												<li>
													<a href="/about/changelog/{{ value }}">{{ month|format_date(pattern="MMMM")|lower }}</a>
												</li>
											{% endfor %}
										</ul>
									</li>
								{% endfor %}
								</ul>
							</nav>
						</section>
						{% apply markdown_to_html %}
							{{ content|raw }}
						{% endapply %}
					</article>
				</main>
				<footer>
					{{ include('@includes/footer.shtml') }}
				</footer>
			</div>
		</div>
		
	</body>
</html>
