<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ include('@includes/head.shtml') }}
        <title>{{ date }} change log | jasmine's journal</title>
        <meta name="description" content="updates to the website"/>
        <meta name="robots" content="noindex"/>
        <link href="/_assets/stylesheets/changelog.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
</html>
<body>
    <div class="layout">
        <div>
            <header>
                <hgroup>
                  <h1>change log</h1>
                  <p class="subtitle">jasmine's journal</p>
                </hgroup>
                <nav>
                    {{ nav|raw }}
                </nav>
            </header>
        </div>
        <div>
            <main>
                <article>
                    <h2>{{ date }}</h2>
                    {% block changelog %}
                    {% endblock %}
                </article>
            </main>
            <footer>
                <nav>
                    <a href="/about/changelog">⟵ return to change log index</a>
                </nav>
                {{ include('@includes/footer.shtml') }}
            </footer>
        </div>
    </div>
    <script src="/_assets/scripts/theme-switcher-v2.js"></script>
    </body>
</html>