<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {{ head|raw }}
        <title>jasmine's resources</title>
        <link rel="canonical" href="https://jasm1nii.xyz/resources"/>
        <link href="/_assets/stylesheets/content_A1.css" rel="stylesheet"   type="text/css" media="all"/>
        <meta name="description" content="a catalogue of helpful things for web design, art, and more!"/>
        <meta name="author" content="jasm1nii"/>
        <meta name="keywords" content="design resources, web development"/>
    </head>
    <body>
        <div id="layout">
            <header>
                <hgroup>
                    <h1>jasmine's resources</h1>
                    <p>
                        a list of links that i've personally found helpful and interesting!
                    </p>
                    <p>
                        last updated:
                        <time datetime="{{ updated|date() }}">{{ updated|format_date(pattern="d MMMM Y")|lower }}</time>
                    </p>
                </hgroup>
                <nav>
                    {{ headernav|raw }}
                </nav>
            </header>
            <div id="left-col-group">
                <section id="guide">
                    <nav>
                        {% apply markdown_to_html %}
                            {{ include('/src/content/resources/_toc.md') }}
                        {% endapply %}
                    </nav>
                </section>
                <div id="center-col">
                    <main>
                        <section id="legend">
                            {% apply markdown_to_html %}
                                {{ include('/src/content/resources/_legend.md') }}
                            {% endapply %}
                        </section>
                        <article>
                            {% apply markdown_to_html %}
                                {{ include('/src/content/resources/resources_index.md') }}
                            {% endapply %}
                        </article>
                    </main>
                    <footer>
                        {{ footer|raw }}
                    </footer>
                </div>
            </div>
        </div>
        <style>
            #headernav #resources a {
                text-decoration: wavy underline 1px;
                text-underline-offset: .25em;
            }
        </style>
        <script src="/_assets/scripts/theme-switcher-v2.js"></script>
    </body>
</html>