<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {{ head|raw  }}
        <title>{{ title }} | jasmine's resources</title>
        <link rel="canonical" href="https://jasm1nii.xyz/resources"/>
        <link href="/_assets/stylesheets/content_A2.css" rel="stylesheet"   type="text/css" media="all"/>
        <meta name="description" content="a catalogue of helpful things for web design, art, and more!"/>
        <meta name="author" content="jasm1nii"/>
        <meta name="keywords" content="design resources, web development"/>
    </head>
    <body>
        <div id="layout">
            <header>
                <hgroup>
                    <p>jasmine's resources</p>
                    {% if parent_name is defined %}
                        <p id="parent-category-name">{{ parent_name }}</p>
                    {% endif %}
                    </p>
                    <h1>{{ title }}</h1>
                    <p>
                        last updated:
                        <time datetime="{{ updated|date() }}">{{ updated|format_date(pattern="d MMMM Y")|lower }}</time>
                    </p>
                </hgroup>
                <nav>
                    {{ headernav|raw }}
                </nav>
            </header>
            <main>
                {% if parent != null %}
                    <nav>
                        return to <a href="{{ parent }}">{{ parent }}</a>
                    </nav>
                {% endif %}
                <aside id="legend">
                    <details>
                        <summary>
                            show legend
                        </summary>
                        {% apply markdown_to_html %}
                            {{ legend|raw }}
                        {% endapply %}
                    </details>
                </aside>
                <article>
                    {% if content != null %}
                        {{ content|raw }}
                    {% else %}
                        {% block content %}
                        {% endblock %}
                    {% endif %}
                </article>
            </main>
        </div>
        <footer>
            {{ footer|raw }}
        </footer>
        <script src="/_assets/scripts/theme-switcher-v2.js"></script>
    </body>
</html>