<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		{{ include('@includes/head.shtml') }}
		<title>jasmine's b(rain)log</title>
		<meta name="description" content="my web of thoughts"/>
		<meta name="author" content="jasm1nii"/>
		<meta name="keywords" content="blog"/>
		<link rel="canonical" href="https://jasm1nii.xyz/blog"/>
		<link href="/_assets/stylesheets/blog_index.css" rel="stylesheet" type="text/css" media="all"/>
	</head>
	<body>
		<div class="layout">
			<div class="sidebar">
				<header>
					<hgroup>
						<h1>jasmine's b(rain)log</h1>
					</hgroup>
					<nav>
						{{ nav|raw }}
					</nav>
				</header>
			</div>
			<div class="main-column">
				<main>
					<article>
						<section class="microblog">
							<h2>notes</h2>
							<section class="newest-note">
								<img src='/_assets/media/main/oingo-boingo.png' alt='profile picture' class='u-photo' width='80' height='80'/>
								{{ notes_preview|raw }}
							</section>
							<p class="subscribe">
								<a href="/blog/notes">view archive</a> / subscribe via <a href="/blog/notes/notes.xml">atom</a>
							</p>
						</section>
						<section class="blog">
							<h2>articles</h2>
							{{ articles_archive|raw }}
							<p class="subscribe">
								<a href="/blog/articles">view archive</a> / subscribe via <a href="/blog/articles/articles.xml">atom</a>
							</p>
						</section>
					</article>
				</main>
				<footer>
					{{ include('@includes/footer.shtml') }}
				</footer>
			</div>
		</div>
		<style>
			#headernav #blog > a {
				text-decoration: wavy underline;
				text-underline-offset: 0.25em;
			}
		</style>
		<script src="/_assets/scripts/theme-switcher-v2.js"></script>
	</body>
</html>
