    
    <entry>
        <title>{{ title is defined ? title : published }}</title>
        <id>https://jasm1nii.xyz/blog/{{ type }}/{{ slug }}</id>
        <link rel="alternate" type="text/html" href="https://jasm1nii.xyz/blog/{{ type }}/{{ slug }}"/>
        <updated>{{ updated is defined ? updated|date() : published|date() }}</updated>
        <published>{{ published|date() }}</published>
        <summary>{{ summary is defined ? summary : block('content')[:250]|striptags ~ "..." }}</summary>
        <content type="html">
            {{ block('content')|replace({ '<' : '&lt;', '>' : '&gt;' , '&shy;' : '-', '&' : '&amp;', '&hellip;' : '...' })|spaceless }}
        </content>
    </entry>