<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ include('/public_html/assets/includes/head.shtml') }}

    <title>{% if title is defined %}{{ title }}{% else %}untitled{% endif %} | jasmine's b(rain)log</title>

    <link rel="stylesheet" href="/assets/stylesheets/style-4.css" type="text/css" media="all"/>

    {% if custom_style == true %}
      <link rel="stylesheet" href="style.css" type="text/css" media="all"/>
    {% endif %}

    {% if slug is defined %}
      <link rel="canonical" href="https://jasm1nii.xyz/blog/articles/{{ slug }}"/>
      {% if publish_to_bridgy == true %}
        <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/https://jasm1nii.xyz/blog/articles/{{ slug }}"/>
      {% endif %}
    {% endif %}

    <meta name="author" content="jasmine"/>

    <meta name="keywords" content="{% if keywords is defined %}{{ keywords }}{% else %}blog{% endif %}"/>

    {% if summary is defined %}
      <meta name="description" content="{{ summary }}"/>
    {% endif %}
  </head>
  <body>
    <div id="layout">
      <header>
        <hgroup>
          <h1>b(rain)log entry</h1>
        </hgroup>
        <nav aria-label="primary">
          {{ include('/public_html/assets/includes/headernav.shtml') }}
        </nav>
      </header>

      <main>
        <article class="entry h-entry">
          <hgroup>
            <h2 class="p-name">
              {% if title is defined %}
                {{ title }}
              {% else %}
                untitled
              {% endif %}
            </h2>
            {% if updated is defined %}
              <time class="dt-updated" datetime="{{ updated|date() }}">updated {{ updated }}</time>
            {% endif %}
            {% if published is defined %}
              <time class="dt-published" datetime="{{ published|date() }}">published {{ published }}</time>
            {% endif %}
            {% if summary is defined %}
              <p class="p-summary">{{ summary }}</p>
            {% endif %}
          </hgroup>
          
          <section class="e-content">
            {% block content %}
            {% endblock %}
          </section>

          <a class="u-bridgy-fed" href="https://fed.brid.gy/" aria-hidden="true" tabindex="-1"></a>
        </article>

        <section id="webmentions">
          <h3>webmentions</h3>
          {% if enable_webmentions == true %}
            {{ include('/public_html/assets/includes/webmentions-module.shtml') }}
          {% else %}
            <p>the displaying of webmentions is disabled.</p>
          {% endif %}
        </section>

        <section id="comments">
          <h3>comments</h3>
          {% if enable_comments == true %}
            <div id="comment-section" data-comments-id="blog-{{ published|date("Ymd") }}"></div>
          {% else %}
            <p>comments are disabled.</p>
          {% endif %}
        </section>
      </main>
    </div>

    <footer>
      {{ include('/public_html/assets/includes/footer.shtml') }}
    </footer>

    {% if enable_webmentions == true %}
      {{ include('/public_html/assets/includes/webmentions-script.shtml') }}
    {% endif %}
    {% if enable_comments == true %}
      {{ include('/public_html/assets/includes/comments-script.shtml') }}
      <script src="/assets/scripts/comment-section.js"></script>
    {% endif %}
    <script src="/assets/scripts/theme-switcher-v2.js"></script>
  </body>
</html>
