<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ include('@includes/head.shtml') }}
    <script src="/_assets/scripts/loader.js" type="text/javascript" async></script>

    <title>jasmine's journal</title>
    <link rel="canonical" href="https://jasm1nii.xyz/"/>
    <meta name="description" content="the interwebbed dwelling of a multifaceted internet creative"/>
    <meta property="og:description" content="the interwebbed dwelling of a multifaceted internet creative"/>
    <link rel="authorization_endpoint" href="https://jasm1nii.xyz/auth"/>
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token"/>

    <link rel="preload" href="{{ src }}/07042023-me_compressed.webp" as="image" type="image/webp" fetchpriority="high"/>
    <link rel="preload" href="{{ src }}/pluto-pretzel_compressed.webp" as="image" type="image/webp"/>
    <link rel="preload" href="/_assets/fonts/Besley/Besley-VariableFont_wght.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/_assets/fonts/Instrument_Sans/InstrumentSans-VariableFont_wdth-wght.woff2" as="font" type="font/woff2" crossorigin/>
    <link rel="preload" href="/_assets/fonts/Inconsolata/Inconsolata-VariableFont_wdth-wght.woff2" as="font" type="font/woff2" crossorigin/>
    
    <link id="base-theme" rel="stylesheet" href="/_assets/stylesheets/home.css" type="text/css" media="all"/>
    <noscript>
      <link rel="stylesheet" href="/_assets/stylesheets/home_noscript.css" type="text/css" media="all"/>
    </noscript>
  </head>
  <body>
    {{ include('@includes/_loader.html') }}
    <div class="layout">
      <header>
        <div class="top">
          {# theme switcher will load here #}
          <hgroup>
            <h1>
              jasmine's journal <img class="ascii-img" src="{{ src }}/index-h1-after.svg" width="auto" height="50" alt="" aria-hidden="true"/>
            </h1>
            <p>
              <img class="ascii-img" src="{{ src }}/index-subtitle-before.svg" width="auto" height="30" alt="" aria-hidden="true"/> a space for my digital miscellany
            </p>
            <noscript>
              <p>(javascript is disabled - some site elements may be non-interactive, missing and/or out of date)</p>
            </noscript>
          </hgroup>
        </div>
        <nav aria-label="primary">
          {{ include('@includes/headernav.shtml') }}
        </nav>
      </header>
      <main>
        <aside class="notice-group" aria-label="notice">
          <button id="pin" aria-expanded="true">📌</button>
          <section id="notice"></section>
        </aside>
        <article>
          {{ include('_card_about.html.twig') }}
          {{ include('_card_note.html') }}
          {{ include('_card_clock.html.twig') }}
          {{ include('_card_site-updates.html.twig') }}
          {{ include('_card_lastfm.html') }}
          {{ include('_card_status.html.twig') }}
          {{ include('_card_guestbook.html.twig') }}
          {{ include('_card_tip-jar.html') }}
          {{ include('_card_webrings.html.twig') }}
        </article>
      </main>
    </div>
    <footer>{{ include('@includes/footer.shtml') }}</footer>
    <script src="/_assets/scripts/home/confetti.min.js" defer></script>
    <script src="/_assets/scripts/home/home.min.js" defer></script>
  </body>
</html>