<li value="{{ id }}">
    <h3><a href='{{ slug }}'>{{ title }}</a></h3>
    <blockquote cite="https://jasm1nii.xyz{{ slug }}">
        <p>&ldquo;{{ summary }}&rdquo;</p>
    </blockquote>
    <dl>
        <dt><span aria-hidden="true">📅</span> published</dt>
        <dd><time datetime="{{ published|date() }}">{{ published }}</time></dd>
        {% if updated is defined %}
            <dt><span aria-hidden="true">🆕</span> updated</dt>
            <dd><time datetime="{{ updated|date() }}">{{ updated }}</time></dd>
        {% endif %}
        <dt><span aria-hidden="true">🔖</span> tags</dt>
        <dd>
            <ul class="tags">
                {% if keywords is defined %}
                    {% for keyword in keywords %}
                        <li><a href="https://jasm1nii.xyz/blog/notes/tag/{{ keyword }}" class="p-category">#{{ keyword }}</a></li>
                    {% endfor %}
                {% else %}
                    <li>none</li>
                {% endif %}
            </ul>
        </dd>
    </dl>
</li>