<!DOCTYPE html>
<html lang="en-US">
  <head>
    {{ include('@includes/head.shtml') }}
    <script async src="/_assets/scripts/loader.js"></script>
    <title>jasmine's b(rain)log</title>
    <meta name="description" content="my online diary"/>
    <link rel="canonical" href="https://jasm1nii.xyz/blog/articles"/>
    <link id="base-theme" href="/_assets/stylesheets/blog_articles_index.css" rel="stylesheet" type="text/css" media="all"/>
    <noscript>
        <link href="/_assets/stylesheets/blog_articles_index_noscript.css" rel="stylesheet" type="text/css" media="all"/>
    </noscript>
  </head>
  <body>
    {{ include('@includes/_loader.html') }}
    <div class="layout">
        <header>
            {# theme switcher here #}
            <hgroup>
                <h1>jasmine's b(rain)log</h1>
            </hgroup>
            <nav aria-label="primary">{{ nav|raw }}</nav>
        </header>
        <main>
            <article>
                <h2>articles</h2>
                <ol reversed class="articles-list">{{ entries|raw }}</ol>
            </article>
        </main>
    </div>
    <footer>
        {{ include('@includes/footer.shtml') }}
    </footer>
  </body>
</html>