<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{ include('@includes/head.shtml') }}
    <title>{{ title is defined ? title : "untitled" }} | jasmine's b(rain)log</title>

    <link rel="stylesheet" href="/_assets/stylesheets/blog_article_entry.css" type="text/css" media="all"/>
    {% if custom_style == true %}
      <link rel="stylesheet" href="/_assets/stylesheets/{{ slug|trim('/entry', 'right') }}/style.css" type="text/css" media="all"/>
    {% endif %}

    <link rel="canonical" href="https://jasm1nii.xyz/blog/articles{{ slug }}"/>
    {% if publish_to_bridgy == true %}
      <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/https://jasm1nii.xyz/blog/articles{{ slug }}"/>
    {% endif %}

    <meta name="author" content="jasmine"/>
    <meta name="keywords" content="{{ keywords is defined ? keywords : "blog" }}"/>
    {% if summary is defined %}
      <meta name="description" content="{{ summary }}"/>
    {% endif %}
  </head>
  <body>
    <div class="layout">
      <header>
        <hgroup>
          <h1>b(rain)log entry</h1>
        </hgroup>
        <nav aria-label="primary">{{ nav|raw }}</nav>
      </header>

      <main>
        <article class="h-entry">
          <hgroup>
            <h2 class="p-name">{{ title is defined ? title : "untitled" }}</h2>

            {% if updated is defined %}
              <time class="dt-updated" datetime="{{ updated|date() }}">updated {{ updated }}</time>
            {% endif %}

            {% if published is defined %}
              <time class="dt-published" datetime="{{ published|date() }}">published {{ published }}</time>
            {% endif %}

            {% if summary is defined %}
              <p class="p-summary">{{ summary }}</p>
            {% endif %}
          </hgroup>
          
          <section class="e-content">{{ block('content') }}</section>
          <a class="u-bridgy-fed" href="https://fed.brid.gy/" aria-hidden="true" tabindex="-1"></a>
        </article>

        <section id="webmentions">
          <h3>webmentions</h3>
          {% if enable_webmentions == true %}
            <s-e-i-a></s-e-i-a>
          {% else %}
            <p>the displaying of webmentions is disabled.</p>
          {% endif %}
        </section>

        <section id="comments">
          <h3>comments</h3>
          {% if enable_comments == true %}
            <div id="comment-section" data-comments-id="blog-{{ published|date("Ymd") }}"></div>
          {% else %}
            <p>comments are disabled.</p>
          {% endif %}
        </section>
      </main>
    </div>

    <footer>
      {{ include('@includes/footer.shtml') }}
    </footer>

    {% if enable_webmentions == true %}
      <script type="module" src="/_assets/scripts/seia.js" async></script>
    {% endif %}

    {% if enable_comments == true %}
      <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
      <script src="/_assets/scripts/comment-section.js"></script>
    {% endif %}

    <script src="/_assets/scripts/theme-switcher-v2.js"></script>
  </body>
</html>
