<!DOCTYPE html>
<html lang="{{ language is defined ? language : 'en-US' }}">
  <head>
    {{ include('@includes/head.shtml') }}
    <title>{{ title is defined ? title : "untitled" }} | jasmine's b(rain)log</title>

    {% if noindex %}
      <meta name="robots" content="noindex"/>
    {% endif %}

    <meta name="author" content="jasmine"/>
    <meta name="keywords" content="{{ keywords is defined ? keywords|join(', ') ~ ", blog" : "blog" }}"/>
    {% if summary is defined %}
      <meta name="description" content="{{ summary }}"/>
    {% endif %}
    {% if cover is defined %}
			<meta property="og:image" content="https://jasm1nii.xyz{{ src ~ cover }}"/>
		{% endif %}

    <link rel="canonical" href="https://jasm1nii.xyz{{ slug }}"/>
    {% if publish_to_bridgy %}
      <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/https://jasm1nii.xyz{{ slug }}"/>
    {% endif %}

    <link id="base-theme" rel="stylesheet" href="/_assets/stylesheets/blog_article_entry.css" type="text/css" media="all"/>

    {% if custom_style %}
      <link rel="stylesheet" href="/_assets/stylesheets/{{ slug|trim('/entry', 'right') }}/style.css" type="text/css" media="all"/>
    {% endif %}
    
    <noscript>
        <link href="/_assets/stylesheets/blog_article_entry_noscript.css" rel="stylesheet" type="text/css" media="all"/>
    </noscript>
  </head>
  <body>
    <div class="layout">
      <header>
        <hgroup>
          {# theme switcher placeholder #}
          <h1>b(rain)log entry</h1>
        </hgroup>
        <nav aria-label="primary">
          {{ nav|raw }}
        </nav>
      </header>

      <main>
        <article class="h-entry">

          <hgroup>
            <h2 class="p-name">{{ title is defined ? title : "untitled" }}</h2>

            {% if updated is defined %}
              <time class="dt-updated" datetime="{{ updated|date() }}">updated {{ updated }}</time>
            {% endif %}

            {% if published is defined %}
              <time class="dt-published" datetime="{{ published|date() }}">published {{ published }}</time>
            {% endif %}

            {% if summary is defined %}
              <p class="p-summary">{{ summary }}</p>
            {% endif %}
          </hgroup>

          <section class="e-content">
            {{ block('content') }}
            <footer class="tags">
							<dl>
								<dt>tags:</dt>
								{% if keywords is defined %}
									{% for keyword in keywords %}
										<dd>
                      <a href="https://jasm1nii.xyz/blog/articles/tag/{{ keyword }}" class="p-category">#{{ keyword }}</a>
                    </dd>
									{% endfor %}
								{% else %}
									<dd>none defined</dd>
								{% endif %}
							</dl>
						</footer>
          </section>
          {% if publish_to_bridgy %}
            <a class="u-bridgy-fed" href="https://fed.brid.gy/" aria-hidden="true" tabindex="-1"></a>
          {% endif %}
        </article>

        <nav class="feed-links">
					<ul>
						<li>
              <span aria-hidden="true">📰</span> subscribe via <a href="/articles.xml">atom</a>
            </li>
            <li>
              <span aria-hidden="true">🐘</span> follow via <a href="https://fed.brid.gy/web/jasm1nii.xyz" rel="external me">fediverse</a>
            </li>
					</ul>
				</nav>

        <section id="webmentions">
          <h3>webmentions</h3>
          {% if enable_webmentions %}
            <s-e-i-a powered-by="false"></s-e-i-a>
          {% else %}
            <p>the displaying of webmentions is disabled.</p>
          {% endif %}
        </section>

        <section id="comments">
          <h3>comments</h3>
          {% if enable_comments %}
            <div id="comment-section" data-comments-id="blog-{{ published|date("Ymd") }}"></div>
          {% else %}
            <p>comments are disabled.</p>
          {% endif %}
        </section>
      </main>
    </div>

    <footer>
      {{ include('@includes/footer.shtml') }}
    </footer>

    {% if enable_webmentions %}
      <script type="module" src="/_assets/scripts/seia.min.js" async></script>
    {% endif %}

    {% if enable_comments %}
      <script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
      <script src="/_assets/scripts/comment-section.js"></script>
    {% endif %}
  </body>
</html>
