<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ include('@includes/head.shtml') }}
        <title>jasmine's b(rain)log</title>
        <meta name="description" content="my online diary"/>
        <link id="base-theme" href="/_assets/stylesheets/blog_articles_index.css" rel="stylesheet" type="text/css" media="all"/>
        <noscript>
            <link href="/_assets/stylesheets/blog_articles_index_noscript.css" rel="stylesheet" type="text/css" media="all"/>
        </noscript>
    </head>
    <body>
        <div class="layout">
            <header>
                {# theme switcher here #}
                <hgroup>
                    <h1>jasmine's b(rain)log</h1>
                </hgroup>
                <nav aria-label="primary">{{ nav|raw }}</nav>
            </header>
            <main>
                <article>
                    <header>
                        {% set decoded_tag = tag|replace({'%20': ' ' }) %}
                        {% if tag in request %}
                            <h2>articles tagged "{{ decoded_tag }}"</h2>
                            <p>({{ total_entries }} {{ total_entries == 1 ? "result" : "results" }})</p>
                        {% else %}
                            <h2>articles</h2>
                        {% endif %}
                        </h2>
                    </header>

                    {% if entries != null %}
                        <ol class="articles-list">
                            {{ entries|raw }}
                        </ol>
                    {% else %}
                        <p>that's too far!!!</p>
                    {% endif %}
                </article>

                {% set paginator_url = "/blog/articles/page" %}
                {{ include('@includes/_paginator.html.twig') }}

            </main>
        </div>
        <footer>
            {{ include('@includes/footer.shtml') }}
        </footer>
    </body>
</html>