{% set src = "/_assets/media" ~ slug|trim('entry', 'right') ~ "/" %}

<section class="notes-format">
    <header>
        <img class="u-photo" alt="" src="/_assets/media/main/oingo-boingo.png" width="80" height="80"/>
        <hgroup>
            {% if tag is defined %}
                <h3 class="id">#{{ id }}</h3>
            {% else %}
                <h2 class="id">#{{ id }}</h2>
            {% endif %}
            <p>
                <time datetime="{{ published|date() }}">{{ published|format_datetime(pattern="dd.M.yyyy") }}</time>
            </p>
        </hgroup>
    </header>
    <section class="h-entry">
        <section class="e-content">{{ block('content') }}</section>
        <footer>
			<dl class="tags">
                <dt>tags:</dt>
                {% if keywords is defined %}
                    {% for keyword in keywords %}
                        <dd><a href="/blog/notes/tag/{{ keyword }}"># {{ keyword }}</a></dd>
                    {% endfor %}
                {% else %}
                    <dd>none defined</dd>
                {% endif %}
            </dl>
            <p class="post-links">
                <span aria-hidden="true">💬</span> <a href="{{ slug }}">view post with comments</a>
            </p>
		</footer>
    </section>
</section>