<!DOCTYPE html>
<html lang="{{ language is defined ? language : 'en-US' }}">
	<head>
		{{ include('@includes/head.shtml') }}
		<title>{{ published }} | jasmine's notes</title>
		
		{% if noindex %}
      		<meta name="robots" content="noindex"/>
    	{% endif %}
		<meta name="author" content="jasmine"/>
		<meta name="keywords" content="{{ keywords is defined ? keywords|join(', ') ~ ", microblog" : "microblog" }}"/>
		<meta name="description" content="note from {{ published }}"/>
		{% if cover is defined %}
			<meta property="og:image" content="https://jasm1nii.xyz{{ src ~ cover }}"/>
		{% endif %}

		<link rel="canonical" href="https://jasm1nii.xyz{{ slug }}"/>
		{% if publish_to_bridgy %}
			<link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/https://jasm1nii.xyz{{ slug }}"/>
		{% endif %}

		<link id="base-theme" rel="stylesheet" href="/_assets/stylesheets/blog_note_entry.css" type="text/css" media="all"/>

		{% if custom_style %}
			<link rel="stylesheet" href="style.css" type="text/css" media="all"/>
		{% endif %}
		
		<noscript>
            <link href="/_assets/stylesheets/blog_note_entry_noscript.css" rel="stylesheet" type="text/css" media="all"/>
        </noscript>
	</head>
	<body>
		<div class="layout">
			<header>
				<hgroup>
					{# theme switch placeholder #}
					<h1>jasmine&apos;s notes</h1>
				</hgroup>
				<nav aria-label="primary">
					{{ nav|raw }}
				</nav>
			</header>
			<main>
				<article>
					<img src="/_assets/media/main/oingo-boingo.png" alt="" class="u-photo" width="80" height="80"/>
					<h2>
						<time class="dt-published" datetime="{{ published|date() }}">{{ published }}</time>
					</h2>
					<section class="h-entry">
						{% if updated is defined %}
							<time class="dt-updated" datetime="{{ updated|date() }}">updated {{ updated }}</time>
						{% endif %}
						<section class="e-content">
							{{ block('content') }}
							<footer class="tags">
								<dl>
									<dt>tags:</dt>
									{% if keywords is defined %}
										{% for keyword in keywords %}
											<dd>
												<a href="https://jasm1nii.xyz/blog/notes/tag/{{ keyword }}" class="p-category">#{{ keyword }}</a>
											</dd>
										{% endfor %}
									{% else %}
										<dd>none defined</dd>
									{% endif %}
								</dl>
							</footer>
						</section>
						{% if publish_to_bridgy %}
							<a class="u-bridgy-fed" href="https://fed.brid.gy/" aria-hidden="true" tabindex="-1" inert></a>
						{% endif %}
					</section>
				</article>

				<nav class="feed-links">
					<ul>
						<li><span aria-hidden="true">📰</span> subscribe via <a href="/notes.xml">atom</a></li>
						<li><span aria-hidden="true">🐘</span> follow via <a href="https://fed.brid.gy/web/jasm1nii.xyz" rel="external me">fediverse</a></li>
					</ul>
				</nav>

				<section id="webmentions">
					<h3>webmentions</h3>
					
					{% if enable_webmentions %}

						{% if webmentions_301 %}

							<h4>via current URL</h4>

						{% endif %}

						<s-e-i-a powered-by="false" target=""></s-e-i-a>

						{% if webmentions_301 %}

							{% if webmentions_prev_url is defined %}

								<h4>via {{ webmentions_prev_url }}</h4>
								<s-e-i-a target="{{ webmentions_prev_url }}" powered-by="false"></s-e-i-a>

							{% else %}

								<h4>via past URLs</h4>
								<p>webmentions from the previous address could not be carried over.</p>
								
							{% endif %}

						{% endif %}

					{% else %}

						<p>the displaying of webmentions is disabled.</p>

					{% endif %}
				</section>

				<section id="comments">
					<h3>comments</h3>
					{% if enable_comments == true %}
						<div id="comment-section" data-comments-id="notes-{{ published|date("ymd") }}"></div>
					{% else %}
						<p>comments are disabled.</p>
					{% endif %}
				</section>
			</main>
		</div>

		<footer>
			{{ include('@includes/footer.shtml') }}
		</footer>

		{% if enable_webmentions %}
			<script type="module" src="/_assets/scripts/seia.min.js" async></script>
		{% endif %}

		{% if enable_comments %}
			<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
			<script src="/_assets/scripts/comment-section.js"></script>
		{% endif %}
		<script data-lightbox data-target-class="e-content" src="/_assets/scripts/lightbox.min.js" defer/></script>
	</body>
</html>
