<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ include('@includes/head.shtml') }}
        <title>about | jasmine's journal</title>
        <meta name="description" content="about the website (and the webmaster)"/>
        <link rel="canonical" href="https://jasm1nii.xyz/about"/>
        <link id="base-theme" href="/_assets/stylesheets/about.css" rel="stylesheet" type="text/css" media="all"/>
        <noscript>
            <link rel="stylesheet" href="/_assets/stylesheets/about_noscript.css" type="text/css" media="all"/>
        </noscript>
    </head>
    <body>
        <header>
            <hgroup>
                <h1><span id="h1-main">about jasmine</span>'s journal</h1>
                <p class="site-update">
                    updated <time datetime="{{ updated|date() }}">{{ updated|format_date(pattern="d MMMM yyyy")|lower }}</time>
                </p>
            </hgroup>
            <nav aria-label="primary">{{ nav|raw }}</nav>
        </header>
        <div>
            <main>
                <article>
                    {{ block('tunes') }}
                    {{ block('website_info') }}
                    {{ block('webmaster_info')}}
                </article>
            </main>
            <footer>
                {{ include('@includes/footer.shtml') }}
            </footer>
        </div>  
    </body>
</html>