<!DOCTYPE html>
<html lang="en-US">
    <head>
        {{ include('@includes/head.shtml') }}
        <title>{{ title }} | jasmine's journal</title>
        <link rel="canonical" href="https://jasm1nii.xyz/{{ slug }}"/>
        <meta name="description" content="{{ description }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <link id="base-theme" href="/_assets/stylesheets/content_B1.css" rel="stylesheet" type="text/css" media="all"/>
    </head>
    <body>
        <header>
            <hgroup>
                <h1>jasmine's journal</h1>
                <p>updated<br/><time datetime="{{ updated|date() }}">{{ updated|format_date(pattern="d MMMM Y")|lower }}</time></p>
            </hgroup>
            <nav>
                {{ include('@includes/headernav.shtml') }}
            </nav>
        </header>
        <main>
            <article>
                <section>
                    <h2>{{ title }}</h2>
                    {{ content != null ? content : block('content') }}
                </section>
            </article>
        </main>
        <footer>
            {{ include('@includes/footer.shtml') }}
        </footer>
        
    </body>
</html>